<div class="flex flex-column align-items-center">
  <p-card header="Boss" class="mb-4 card">
    <app-boss [boss]="boss"></app-boss>
  </p-card>
  <p-card header="Loadout" class="mb-4 card">
    <app-loadout [loadout]="loadout" [(averageLevel)]="averageLevel"></app-loadout>
  </p-card>
  <p-card header="Average Damage" class="card">
    <div class="grid">
      <div class="col-12">
        {{ damage }}
      </div>
      <div class="col-12">
        <button type="button" pButton pRipple styleClass="p-button-warn" label="Reset" (click)="reset()"></button>      
      </div>
    </div>
  </p-card>
</div>

<div class="fab shadow-8">
  <p-button
  type="text"
  class="p-button-rounded"
  (click)="display = true"
  icon="pi pi-book"
  ></p-button>
</div>

<p-sidebar
[(visible)]="display"
position="right"
[style]="{ width: '30em', maxWidth: '100vw' }"
>
<ng-template pTemplate="header">Recommendations</ng-template>  
<ng-template pTemplate="content">
  <app-item-recommendation [boss]="boss" (selectRecommendation)="selectedRecommendation($event)"></app-item-recommendation>
  </ng-template>
</p-sidebar>

<p-toast></p-toast>
